body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  text-align: center;
  background: url("./clouds.jpg") center center;
}

.nopad{
  margin: 0;
  padding: 0;
}

.icon{
  height: 200px;
  width: 200px;

}

.searchbar{
  border:none;
  border-bottom: 2px solid #49aee9;
  background-color: transparent;
  margin-right: 30px;
}

.searchbar_btn{
  background-color: #49aee9;
  color: white;
  border-radius: 12px;
  border:none;
}

.weather_info{
  font-size: 1.5rem;
  font-weight: bold;
}
